<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= article.slug %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= article.rank %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Blurb:</strong>
    <%= article.blurb %>
  </p>

</div>
