<!DOCTYPE html>
<html>
  <head>
    <title>RailsCagersBasketball</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <header class="header-banner">
    <%= image_tag "cagers-logo-sm.png" %>
    <a href="/"><h1>CAGERS BASKETBALL</h1></a>
    <%= image_tag "cagers-logo-sm.png" %>
  </header>
  <section class="tagline">
    <h3>The BEST never REST!</h3>
  </section>
  <div class="main-container">
    <%= yield %>
  </div>
  </body>
</html>
